.euSDG-pill {
    padding: 4px;
    font-size: $euSDG-fontSize;
    color: $euSDG-color;
    border: $euSDG-border;
    background: $euSDG-backgroundColor;
    white-space: nowrap;
}

#serieses {
    .euSDG-pill {
        font-size: $euSDG-fontSize-small;
        float: right;
        margin: 5px;
    }
}

#chart-heading, #selectionsTable, #map-heading {
    .euSDG-pill {
        margin-left: 10px;
        line-height: 3em;
    }
}

.euSDG-banner {
    border-left: solid 10px $color-medium-highContrast;
}

body.contrast-high {
    .euSDG-pill {
        background: $color-highlight-highContrast;
        color: $color-dark-highContrast;
    }
}
